<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Problems</key>
	<array>
		<array>
			<string>Shortest Job First</string>
			<string>use priority queue</string>
			<string>shortestjobfirst.png</string>
			<string>Amazon</string>
			<string>Easy</string>
			<string>Given a list of jobs&apos;  arrival time and execution time. Run shortest job first to all current jobs</string>
		</array>
	</array>
</dict>
</plist>
