<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shortest Job First</key>
	<dict/>
	<key>Explanation</key>
	<string>Job sort by arriving time and execution time, smaller execution time got executed first.</string>
	<key>Difficulties</key>
	<string>Easy</string>
	<key>Solution</key>
	<string>shortestJobFirst</string>
	<key>Company</key>
	<string>Amazon</string>
</dict>
</plist>
